body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;

  /* background-repeat:no-repeat; */
}

.nav_barre ul{
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

li a{
  display: block;
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

.nav_barre li { 
  float: left;
  margin: 2vh;
}

.nav_barre li img{
  filter: invert(100%);
  -webkit-filter: invert(100%);
  padding: 1vh;
  border-radius: 1vw;
  border: 1px solid black;
}

.nav_barre .contact, .nav_barre .about{
  float: right;
  padding: 1vh;
  backdrop-filter: blur(5px);
  border-radius: 1vw;
  border: 1px solid rgb(255, 255, 255);
  animation-duration: 2s;
}

.nav_barre .infinity{
  position: absolute;
  animation-duration: 2s;
  animation-name: nav_slide2;
}

.nav_barre .about{
  animation-name: nav_slide;
}

.nav_barre .contact{
  animation-name: nav_slide1;
}


@keyframes nav_slide2 {
  from {
    margin-left: 60%;
  }

  to {
    margin-right: 90%;
  }
}

@keyframes nav_slide {
  from {
    margin-right: 80%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes nav_slide1 {
  from {
    margin-right: -10%;
  }

  to {
    margin-right: 2%;
  }
}

.about:hover,.contact:hover,.infinity:hover{ 
  transition-duration: 1s;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  
}

.about a:hover,.contact a:hover{
  color: rgb(255, 255, 255);
}

.btn_defilement ul{
  position: fixed;
  list-style-type: none;
  display: block ;
  /* width: 100%; */
  bottom: -2% ;
  left: 50%;
  transform: translate(-50%, -50%); 

}

.btn_defilement li { 
  float: left;
  /* margin: 2vh; */
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.65);
  display: inline ;
  border: 1px solid rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  padding: 2vh;
  margin: 2px;
  cursor: pointer;
  animation-duration: 2s;
  animation-name: nav_slide3;
}

@keyframes nav_slide3 {
  from {
    /* position: absolute; */
    margin-top:-20%;
  }

  to {
    margin-top: 15%;
  }
}

.btn_defilement li a{ 

  transition: transform .3s;
}

.page_1 a:hover, .page_2 a:hover, .page_3 a:hover{
  color: rgb(255, 255, 255);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* .page_1:hover, .page_2:hover, .page_3:hover{
  backdrop-filter: blur(2px);
} */

.slide{
  color: aliceblue;
  width: 100vw;
  height: 100vh;
  display: none;
  display: block;

}


.one{
  background:url(../images/background.jpg);
  background-size: cover;
  background-position:center;

}
.two{
  background:url(../images/background.jpg);
  background-size: cover;
  background-position:center;
}
.three{
  background:url(../images/background.jpg);
  background-size: cover;
  background-position:center;
}

.slide_container{
  display: flex;
  flex-direction: row;
  width: 300vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left ; */
}

.container{
  width: 100vw;
  height: 100vh;
  /* transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left; */
  /* overflow-x: hidden; */
  /* -ms-overflow-style: none ;
  scrollbar-width: none; */
}

::-webkit-scrollbar{
  /* display: none; */
}

.page_3{
  border-right: 1px solid rgb(255, 255, 255);
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.page_1{
  border-left: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}


.profil{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
  top: 20%;
  width: 42%;
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  font-size: 3.7vw;
  text-shadow: 1px 1px 2px black;
  display: flex;
  color: rgb(245, 245, 245);
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 1vw;
  cursor: pointer;
  transition: all 1s ease;  

}

/* .row{
  display: flex;
  flex-wrap: wrap;
} */

.container_carre{
  position: absolute;
  top: 2vw;
  left: 4vw;
  /* transform: translate(-50vw, -50vw);  */
  /* transform: rotate(180deg); */
  width: 17vw;
  height: 16vw;
  /* border: 2px solid rgb(255, 255, 255); */
}

.zen img{
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%); 

}

.un{
  font-size: 0.2vw;
}

.container_rectangle{
  position: absolute;
  top: -5%;
  left: 45%;
  /* transform: translate(-50%, -50%);  */
  /* transform: rotate(145deg); */
  width: 3vw;
  height: 20vw;
  /* border: 2px solid rgb(255, 255, 255); */
}

.rectangle1{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 50%;
  margin-top: -100%;
  /* width: 2vw;
  height: 2vw; */
  /* width: 100%; */
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}
.rectangle2{
  position: absolute;
  left: -100%;
  top:100%;
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}

.carre1{
  position: absolute;
  left: -30%;
  top: -10%;
  /* width: 4vw;
  height: 4vw; */
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}
.carre2{
  position: absolute;
  left: 90%;
  top: 40%;
  /* margin-left: 85%; */
  /* width: 2vw;
  height: 2vw; */
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}
.carre3{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 85%;
  margin-top: 100%;
  /* width: 2vw;
  height: 2vw; */
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}
.carre4{
  position: absolute;
  left: -40%;
  top: 0;
  margin-top: 60%;
  /* width: 2vw;
  height: 2vw; */
  border: 2px solid rgb(255, 255, 255);
  padding: 1vw;
  border-radius: 50px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


  @-moz-keyframes spin1 {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin1 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}


.container_carre, .container_rectangle {
  /* border: 2px solid white; */
  -webkit-animation: spin 12s linear infinite;
  -moz-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}


.carre1, .carre2, .carre3, .carre4, .rectangle1, .rectangle2, .rectangle3, .rectangle4 {
  backdrop-filter: blur(20px);
  -webkit-animation: spin1 12s linear infinite;
  -moz-animation: spin1 12s linear infinite;
  animation: spin1 12s linear infinite;
}

@keyframes carre_slide4 {
  from {

    margin-left: -60%;
  }

  to {

    margin-left: 0%;
  }
}

.deux{
  position: absolute;
  margin: 0;
  border-radius: 5px;
  width: 25%;
  height: 16vw;
  color: rgb(245, 245, 245);
  border: 2px solid rgba(255, 255, 255, 0.65);
  top: 55%;
  /* padding-top: 2%; */
  left: 77.5%;
  transform: translate(-50%, -50%); 
  font-size: 1.5vw;
  backdrop-filter: blur(3px);
  /* padding: 1vw; */
  border-radius: 2vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease;  
  animation-duration: 1.5s;

}

.un{
  position: absolute;
  border-radius: 5px;
  width: 25%;
  height: 16vw;
  font-size: 1.2vw;
  color: rgb(245, 245, 245);
  /* border: 2px solid rgba(158, 213, 245, 0.65); */
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%); 
  /* backdrop-filter: blur(30px); */
  padding: 1vw;
  border-radius: 2vw;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  cursor: pointer;
  transition: all 1s ease;  
  animation-duration: 1.5s;

}

.un{ 
   animation-duration: 2s;
  animation-name: carre_slide4;
}

@keyframes img_slide {
  from {
    margin-right: 60%;
  }
  to {
    margin-right: 40%;
  }
}

.un img{ 
  animation-duration: 2s;
  animation-name: img_slide;
}

.deux img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.deux a{
  text-decoration: none;
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  color: white;
  text-shadow: 1px 1px 2px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* .container_petit_projets{
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4vw;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  transform: translate(-50%, -50%); 
  width: 25vw;
  height: 15vw;
  padding: 1vw;
  padding-left: 2vw;
  background: #b4b4b4;
  opacity: 0;
  transition: 0.5s;
  z-index:2;
}


.projet_petit{
  position: relative;
  margin: 0.8vw;
  margin-top: 2vw;
  padding-bottom: 0;
  height: 2vw;
  padding: 0.5vw;
  border: 2px solid rgb(255, 255, 255);
  background-size: 100%;
  background-position:center;
  overflow: hidden;
  border-radius: 1vw;
  backdrop-filter: blur(15px);


}

.container_petit_projets a{
  position: absolute;
  font-size: 0.8vw;
  color: white;
  top: 48.5%;
  left: 50%;
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;

  transform: translate(-50%, -50%); 
  pointer-events: stroke;
  border: 2px solid rgb(255, 255, 255);
  padding: 0.4vw;
  border-radius: 50px;
  backdrop-filter: blur(25px);
  transition: all 1s ease;  

}

.container_petit_projets a:hover{
  top: 42%;
  left: 44%;
  transform:scale(1.2);

}

.deux:hover {
  position: absolute;
  top: 41%;
  left: 65%;
  transform:scale(1.25);
}


.deux:hover .container_petit_projets {
  opacity: 1 ;
} */


.container_projets{
  position: relative;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  padding: 1vw;
  padding-left: 2.5vw;
  padding-bottom: 2vw;
  border-radius: 4vw;
  flex-wrap: wrap;
  top: 10%;
  left: 5%;
  /* transform: translate(-50%, -50%);  */
  width: 60vw;
  height: 35vw;
  overflow: scroll;
  background: #b4b4b4cf;



}

.projet{
  position: relative;
  margin: 2vw;
  margin-top: 4vw;
  padding-bottom: 0;
  width: 15vw;
  width: 15vw;
  filter: grayscale(0);

  /* height: 20%; */

  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 1vw;
  backdrop-filter: blur(15px);
  cursor: pointer;
}

.projet img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* max-width: 110%;
  max-height: 110%; */
  width: 100%;
}

.projet a{
  text-decoration: none;
  color: #2a2a2a;
}

.content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* backdrop-filter: blur(5px); */
  border-radius: 1vw;
  /* width: 100%; */
  height: 100%;
  transition: all 0.5s ease-out;
  text-align: center;
}

.text{
  opacity: 0;
  font-size: 2vw;
  color: rgb(47, 47, 47);
  position: relative;
  /* margin-top: 50%;
  margin-left: 50%; */
  /* transform: translate(-50%, -50%);  */
  /* padding: 1vh; */
  backdrop-filter: blur(15px);
  border-radius: 1vw;
  padding: 1vw;
  border: 1px solid rgb(255, 255, 255);
  transition: all 05s ease-out;
  text-align: center;
}

.projet:hover{
  filter: grayscale(10);

}

.projet .content:hover {
  opacity: 1;
}
.projet .content .text {
  opacity: 1;
  padding-top: 0.5vw ;
  padding-bottom: 0.5vw;

  transition-delay: 0s;
  transition-duration: 0.6s;
}
.projet .content:hover .text {
  opacity: 1;
  transform: translateY(4vw);
}

.container_skills{
  position: absolute;
  border: 0.5vw solid rgb(255, 255, 255);
  display: flex;
  border-radius: 4vw;
  flex-wrap: wrap;
  top: 10%;
  left: 174%;
  width: 20vw;
  height: 37vw;
  overflow: hidden;
  background: #b4b4b4cf;

  /* backdrop-filter: blur(15px); */
}

.encoche{
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 1.3vw;
  border-bottom-right-radius: 1.3vw;
  left: 25%;
  top: 0;
  width: 50%;
  height: 5%;
}

.encoche b{
  position: absolute;
font-size: 1vw;
  color: black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
#php{
  margin-top: 1vw;
}

.skills{ 
  position: relative;
  padding-bottom: 0;
  width: 100%;
  height: 20%;
  bottom: 1%;
  left: 0%;
  border-top: 2px solid rgb(255, 255, 255) ;
  cursor: pointer;
}

.skills img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* max-width: 110%;
  max-height: 110%; */
  border-radius: 1vw;
  width: 20%;
}

.content_skills{
  opacity: 0;
  position: absolute;
  /* backdrop-filter: blur(5px); */
  background-color:#2a2a2a;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  text-align: center;
}

.content_skills img{
  width: 30%;
  margin-right: 100%;
  position: relative;
  transition: all 05s ease-out;
  text-align: center;
}

.skills:hover{
/* background-color: #2a2a2a; */
}
.skills:hover .content_skills{
  opacity: 1 ;
}

/* .skills .content_skills .img {
  opacity: 1;
  padding-top: 0.5vw ;
  padding-bottom: 0.5vw;

  transition-delay: 0s;
  transition-duration: 0.6s;
} */
/* .skills .content_skills:hover .img{
  opacity: 1;
  transform: translateY(4vw);
} */


.container_1{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  color: black;
  left: 203%;
  top: 8%;
  width: 40%;
  padding: 2%;
  /* border: 2px solid rgb(228, 106, 106) ; */
}

.container_cv{
  border-radius: 1.5vw;
  margin-left:  2%;
  width: 15vw;
  height: 14vw;
  /* border: 2px solid rgb(0, 0, 0) ;*/
  /* box-shadow: rgb(202 171 99 / 57%) 5px 5px, rgb(197 151 64 / 48%) 10px 10px, rgb(255 177 27 / 27%) 15px 15px;  */
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
  box-shadow: rgb(67 50 3 / 61%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(255 255 255 / 10%) 0px -79px 40px 0px inset, rgb(133 128 128 / 67%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0) 0px 8px 4px, rgb(0 0 0) 0px 16px 8px, rgb(120 105 105 / 25%) 0px 32px 16px;
  background-color: rgb(214, 214, 214);
}

.container_cv t{
  position: relative;
  font-size: 4vw;
  font-family: 'Lobster', cursive;
  color: black;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);

}

.container_cv a{
text-decoration: none;
}

.container_about a {
  text-decoration: none;
}
/* http://localhost:8888/Portfolio/css/accueil.css */

.container_about{
  border-radius: 1.5vw;
  margin-left: 18% ;
  width: 15vw;
  height: 14vw;
  border: 2px solid rgb(0, 0, 0) ;
  background: #2a2a2a;
  text-align: center;
}

.container_about:hover{
  transition-duration: 1s;
  filter: invert(1);
}

.container_about t{
  position: relative;
  font-size: 3.5vw;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  color: rgb(255, 254, 254);
  top: 20%;
  transform: translate(-50%, -50%);
}

.container_loca{
  border-radius: 1.5vw;
  margin-left: 20% ;
  margin-top: 9% ;
  width: 25vw;
  height: 20vw;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 2px solid rgb(255, 255, 255) ; */
}

.container_2{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  color: black;
  left: 247%;
  top: 8%;
  width: 47%;
  padding: 2%;
  padding-right: 0;
  /* border: 2px solid rgb(228, 106, 106) ; */
}

.container_contact{
  border-radius: 1.5vw;
  margin-top: 3%;
  margin-left: 15%;
  width: 35vw;
  height: 35vw;
  border: 2px solid rgb(0, 0, 0) ;
  background: #b4b4b4cf;

}

.container_contact m{
  position: relative;
  top: 6%;
  left: 25%;
  font-size: 1.5VW;
  font-family:'Montserrat', sans-serif;

  transform: translate(-50%, -50%);
}

/* .container_chat{
  border-radius: 1.5vw;
  margin-top: 3%;
  margin-left: 7%;
  width: 20vw;
  height: 35vw;
  border: 2px solid rgb(0, 0, 0) ;
} */

#nom, #prenom, #mail, #desc, #submit{
  font-size: 0.7vw;
  border-radius: 0.5vw;
  line-height: 1.5;
  padding: 0.3vw 0.5vw;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 0.1vw solid #cccccc;
  color: rgb(226, 226, 226);
  background: #2a2a2a;
  display: block;
  height: 2vw;
}

#nom:hover, #prenom:hover, #mail:hover, #desc:hover, #submit:hover{
  border-color: #ccc;
  filter: invert(100%);

}


#nom:focus, #prenom:focus, #mail:focus, #desc:focus, #submit:focus{
  color: rgb(42, 42, 42);
  background: #fff;
}

#nom{
  position: absolute;
  margin-left: 15%;
  margin-top: 7%;
}
#prenom{
  position: absolute;
  margin-left: 40%;
  margin-top: 7%;
}
#mail{
  position: absolute;
  width: 20%;
  margin-left: 15%;
  margin-top: 17%;
}
#desc{
  position: absolute;
  width: 40%;
  height: 20%;
  margin-left: 15%;
  margin-top: 27%;
}
#submit{
  position: absolute;
  width: 14%;
  height: 6%;
  margin-left: 15%;
  margin-top: 47%;
}
.container_reseaux{
  position: absolute;
  border: 0.1vw solid rgb(255, 255, 255);
  background: #2a2a2a;
  display: flex;
  border-radius: 1vw;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-top: 57%;
  width: 42%;
  height: 7%;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.reseaux{
  width: 10%;
  /* border: 0.1vw solid rgb(255, 255, 255); */
  background: #2a2a2a;
  border-radius: 1vw;
  overflow: hidden;
}

.reseaux img{
  padding-top: 0.3vw;
  filter: invert(100%);
  width: 100%;
}

.reseaux img:hover , .reseaux:hover{
  filter: invert(100%);

}
